    <div class="jumbotron">
      <h6> Hi! <%= current_user.first_name %>!</h6>
      <p>Contakt</p>
      <p><a class="btn btn-primary btn-lg" href="/contacts/new" role="button">Add Contact</a></p>
      <p><a class="btn btn-primary btn-lg" href="/logout" role="button">Logout</a></p>
    </div>  

<% @contacts.each do |contact| %>
  <div class="container">
  <div>
    <h4> <%= contact.first_name + " " + contact.last_name %> </h4>
  </div>
  <%= contact.bio %>
  <%= contact.phone_number %>
  <%= contact.email %>
  </div>
  <div>
    <a href="/contacts/<%= contact.id%>"> View Contact </a>
  </div>
<% end %>
  