<% if current_user %>
    <div class="jumbotron">
      <h6> Hi! <%= current_user.name %>!</h6>
      <p>Wanna buy some products?</p>
      <p><a class="btn btn-primary btn-lg" href="/signup" role="button">All Products</a></p>
      <p><a class="btn btn-primary btn-lg" href="/login" role="button">My Products</a></p>
    </div>
  <% else %> 
    <div class="jumbotron">
        <h6> We've Got Products!</h6>
      <p>Wanna buy some products?</p>
      <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Sign-up!</a></p>
      <p><a class="btn btn-primary btn-lg" href="/login" role="button">Log in!</a></p>
    </div>
  <% end %>

<% @contacts.each do |contact| %>
  <div class="container">
  <div>
    <h4> <%= contact.first_name + " " + contact.last_name %> </h4>
  </div>
  <%= contact.bio %>
  <%= contact.phone_number %>
  <%= contact.email %>
  </div>
  <div>
    <a href="/contacts/<%= contact.id%>"> View Contact </a>
  </div>
<% end %>
  